//------------------------------------------

.invoice-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    h2, h3 {
        text-align: center;
        margin-bottom: 15px;
    }

    button {
        margin-top: 10px;
        width: 100%;
    }
}


//------------------------------------------
.navbar {
    background-color: #a51f1f;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.brand, .list_item {
    color: white !important;
}

.list_item:hover{
    color: black !important;
}


button.navbar-toggler.collapsed{
    background: #fff !important;
}

button.navbar-toggler{
    background: #fff !important;
}